/*
 * objects/_utilities.scss
 */

.u-txt-center {
  text-align: center;
}

.u-txt-left {
  text-align: left;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 1.15rem;
  }
}

