/*
 * objects/_sidebar.scss
 */

.o-aside {
  display: none;
  flex: 0;
  background-color: #efefef;
  height: 100%;
  @media  screen and (min-width: 750px) {
    display: initial;
    flex: 1;
  }
}
