/*
 * components/_info-window.scss
 */

.c-info-window {
  max-width: 150px;
  text-align: center;
}

.c-info-window__img {
  display: inline-block;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  margin: 1rem;
  background-position: center;
  background-size: cover;
}

.c-info-window__title {
  font-size: 1.2rem;
  display: block;
  margin-bottom: .5rem;
}

.c-info-window__info {

}

.c-info-window__links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.c-info-window__link {
  display: inline-block;
  margin: .5rem 0;
}


