/*
 * components/_map-btn.scss
 */

.c-map-btn {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: black;
  right: 2rem;
  bottom: 2rem;
  @media  screen and (min-width: 750px) {
    display: none;
  }
}


.c-map-btn__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
