/*
 * components/_multiselect.scss
 */

.c-multiselect-custom {
  cursor: pointer;
  margin-top: .5rem;
  font-size: 0.875em !important;
}

.multiselect__tags {
  padding: .5rem !important;
  border-radius: 0 !important;
}

.multiselect, .multiselect__input, .multiselect__single {
  font-size: inherit !important;
}

.multiselect__option--highlight {
  background-color: #2e2e2e !important;
  &:after {
    background-color: #2e2e2e !important;
  }
}

.multiselect__tags-wrap {

}

.c-multiselect-custom__tag {
  display: inline-block;
  margin-right: .5rem;
}

.c-multiselect-custom__tag-name {
  border: .1rem solid black;
  border-right: 0;
  padding: .3rem;
}

.c-multiselect-custom__tag-remove {
  background-color: #2e2e2e;
  color: #efefef;
  border: .1rem solid transparent;
  padding: .3rem;
  &:hover {
    background-color: #efefef;
    color: #2e2e2e;
    border: .1rem solid #2e2e2e;
  }
}
