/*
 * components/_my-gem.scss
 */

.c-my-gems {
  display: flex;
  min-height: 10rem;
  flex-flow: column;
  margin: 1rem 0;
}

.c-my-gems__list {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-my-gem {
  display: flex;
  flex-flow: column;
  min-height: 5rem;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
  }
}
.c-my-gem__cont {
  display: flex;
  align-items: center;
}
.c-my-gem__details {
  flex: 1;
}
.c-my-gem__name {
  font-size: 1.5rem;
}
.c-my-gem__loc {
  font-size: 1.2rem;
}

.c-my-gem__delete {
  display: block;
  text-align: center;
}
.c-my-gem__delete-btns {
  display: block;
}
.c-my-gem__img {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 1rem;
}
.c-my-gem__btns {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}
.c-my-gem__btn {
  &:not(:last-child) {
    margin-right: .5rem;
  }
}
