/*
 * components/_select.scss
 */

.c-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #cccccc;
  background-image: url('~/static/arrow-down.svg');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 0;
  padding: .5rem 5% .5rem .5rem;
}

.c-hello {
  height: 100px;
  width: 100px;
  border: 2px solid pink;
  background-image: url('~/static/arrow-down.svg');
  background-size:cover;
  display: block;
  background-position: center;
}
