/*
 * components/_select.scss
 */

.c-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #cccccc;
  background-image: url();
  border-radius: 0;
  padding: .5rem;
}
